<%= tasks_scheduler_navbar %>
<h2><%= I18n.t(:tasks_scheduler_daemon) %></h2>
<%= render partial: 'daemon', locals: {status_label: 'Status:'} %>
<%= render partial: 'logs' %>
<%= render partial: 'results' %>
